@model RedoCommunityApp.Models.Message
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Add Message";
}
<h1>Add Your Message</h1>


<form asp-controller="Message" asp-action="MessageForm" method="post">
    <div class="form-group">
        <label asp-for="Topic"></label>
        <input asp-for="Topic" class="form-control" />
        <br />
        <label asp-for="Subject" ></label>
        <input asp-for="Subject" class="form-control" />
        <br />
        <label asp-for="Body" ></label>
        <textarea asp-for="Body" class="form-control" rows="5"></textarea>
        <br />
        <button type="submit" class="btn btn-default">Post</button>
        </div>

</form>