@model RedoCommunityApp.Models.ReplyViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Reply";
}
<h1>Enter Your Reply</h1>


<form asp-controller="Reply" asp-action="ReplyForm" method="post">
    <input asp-for="MessageID" type="hidden" />

    <label asp-for="MessageReply.Body"></label>
    <input asp-for="MessageReply.Body" />

    
    <button type="submit">Post</button>
</form>